*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  --dark: #010101;
  --light: #ffffff;
  --color1: #b7e841;
  --color2: #32c8b3;
  --bgcolor: #eeeeee;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color1);
  background-image: linear-gradient(120deg, var(--color1), var(--color2));
  background-repeat: no-repeat;
  color: var(--light);
}

img {
  width: 100%;
}

a, a:link, a:visited {
  color: var(--light);
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: var(--dark);
}

a:link:active, a:visited:active {
  color: var(--light);
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1em auto;
}

/*======= NAVIGATION ===========*/
nav {
  background-color: var(--color1);
}

nav ol {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
}

nav li {
  color: var(--dark);
  font-size: 1rem;
  margin: 0.4em;
}

/*======= MAIN SECTION ===========*/
main {
  width: 90vw;
  max-width: 1000px;
  margin: 1rem auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  max-width: 80%;
  outline-color: var(--color2);
}

form input, form button {
  background: var(--light);
  color: var(--dark);
  border: none;
  font-size: 2rem;
  padding: 0.5em;
}

form button {
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: var(--color1);
}

/*======= TO DO LIST  ===========*/
.todo-list {
  font-size: 1.6rem;
  width: 80%;
  margin: 1em auto;
}

.todo-list li {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  padding:.5em;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 1em;

}

.todo-list li:hover {
  border: 2px solid rgba(255,255,255,1);

  box-sizing: border-box;
}

.list-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  opacity: 50%;
  outline: none;
  margin-left: 0.6em;
}

.checked-btn:hover {
  opacity: 100%;

}


/*======= FOOTER  ===========*/
footer {
  background-color: var(--color2);
  color: var(--light);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 0.5em;
}
