*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  --dark: #010101;
  --light: #ffffff;
  --color1: #b7e841;
  --color2: #32c8b3;
  --bgcolor: #eeeeee;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color1);
  background-image: linear-gradient(120deg, var(--color1), var(--color2));
  background-repeat: no-repeat;
  color: var(--light);
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

a, a:link, a:visited {
  color: var(--light);
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: var(--dark);
}

a:link:active, a:visited:active {
  color: var(--light);
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: 2rem;
}

/*======= NAVIGATION ===========*/
nav {
  background-color: var(--color1);
}

nav ol {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
}

nav li {
  color: var(--dark);
  font-size: 1rem;
  margin: 0.4em;
}

/*======= MAIN SECTION ===========*/
main {
  width: 90vw;
  max-width: 1000px;
  margin: 1rem auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}

form input {
  max-width: 80%;
  outline-color: var(--color2);
}

form input, form button {
  background: var(--light);
  color: var(--dark);
  border: none;
  font-size: 2rem;
  padding: 0.5em;
}

form button {
  background-color: var(--color2);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: var(--color1);
}

/*======= FILTER  ===========*/
.title {
  display: flex;
  max-width: 485px;
  margin: 1.5em auto;
  justify-content: space-between;
  align-items: center;
}

select {
  border: none;
  outline: none;
  background-color: var(--color2);
  color: white;
  padding: 0.4em;
  font-size: 1.2em;
  cursor: pointer;
}

select:hover {
  background-color: var(--color1);
}


/*======= TO DO LIST  ===========*/
.todo-list {
  font-size: 1.6rem;
  margin: 1em auto;
}

.todo-list li {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 1em;
  transition: all .5s ease;
}

.todo-list li:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.list-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  opacity: 50%;
  outline: none;
  margin-left: 0.6em;
  cursor: pointer;
}

.list-btn:hover {
  opacity: 100%;
}

.fa-trash-alt, .fa-check-square, .fa-exclamation {
  pointer-events: none;
}

.priorityTask {
  background: var(--light);
  color: var(--dark);
  opacity: 100%;
}

.priorityTask button {
  color: var(--dark);
  opacity: 30%;
}

.priorityTask .priority {
  opacity: 60%;
}

.priorityTask button:hover, {
  opacity: 60%;
}

.priorityTask .priority:hover {
  opacity: 100%;
}

.checked {
  text-decoration: line-through;
  opacity: 30%;
}

.deleting {
  transform: translateY(8em) rotateZ(20deg);
  opacity: 0;
}

/*======= FOOTER  ===========*/
footer {
  margin-top: auto;
  background-color: var(--color2);
  color: var(--light);
  text-align: center;
  width: 100vw;
  padding: 0.5em;
}
