header {
  width: 100%;
  font-size: calc(1rem + 1vw);
}
nav {
  background-color: $color1;
  @include flex(row, space-between, center);
  button {
    background-color: white;
    color: &dark;
    @include button-clear;
    &:hover {
      color: white;
      background-color: $color2;
    }
  }
  ul {
    list-style: none;
    @include flex(row, space-around, center);
    margin: 1rem;
  }
  i {
    margin: 0.5rem 1rem;
  }
}
